.header {
	background-image: linear-gradient(
			to right bottom,
			rgba($color-primary-light, 0.8),
			rgba($color-primary-dark, 0.8)
		),
		url(../img/hero-beach.jpg);
	background-size: cover;
	background-position: top;
	position: relative;
	height: 85vh;

	-webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
	clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);

	&__logo-box {
		position: absolute;
		top: 3rem;
		left: 3rem;
	}

	&__logo {
		height: 10rem;
		width: auto;
	}

	&__text-box {
		position: absolute;
		top: 45%;
		left: 50%;
		transform: translate(-50%, -50%);
		text-align: center;
	}
}

.content {
	margin-top: -6rem;
	margin-bottom: 12rem;
}

.about {
	width: 70%;
	margin: 0 auto;
	padding-top: 10rem;
}

.values {
	display: flex;
	justify-content: space-around;
}

.footer {
	background-color: rgba($color-primary-dark, 0.8);
	padding: 3rem 4rem;
	color: $color-grey-light-1;

	display: flex;
	justify-content: space-between;
	align-items: center;
}
