// COLORS
$color-primary: #2f5073;
$color-primary-light: #97a8b9;
$color-primary-dark: #26405c;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-white: #fff;
$color-black: #000;

// FONT SIZES
$default-font-size: 1.6rem;

$small-font-size-1: 1.2rem;
$small-font-size-2: 1.4rem;

$medium-font-size-1: 2rem;
$medium-font-size-2: 3rem;

$big-font-size-1: 4rem;
$big-font-size-1: 5rem;

$huge-font-size: 10rem;
